@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
body {
  background-color: rgb(0,0,100);
  font-family: arial;
  color: rgb(255,255,255);
  overflow: hidden;
}

button {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 20px;
  border-radius: 4px;
  background-color: rgb(50,50,50);
  color: rgb(255,255,255);
  height: 30px;
}

input {
  height: 30px;
  background-color: rgb(50,50,50);
  border-style: solid;
  border-color: rgb(100,100,100);
  font-family: arial;
  font-size: 20px;
  color: rgb(255,255,255);
}

button:hover {
  background-color: rgb(100,100,100);
}

button:active {
  background-color: rgb(150,150,150);
}

.window-button {
  color: rgb(255,255,255);
  background-color: rgb(0,0,0);
  border: solid;
}

.window-button:hover {
  background-color: rgb(55,55,55);
}

#workbar {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 5vh;
  bottom: 0px;
  left: 0px;
  background-color: rgb(0,0,0);
  z-index: 9990;
}

.window {
  position: absolute;
  /*margin: auto;*/
  width: 50vw;
  height: 50vh;
  top: 0%;
  background-color: rgb(0,0,0);
  border-width: 4px;
  border-color: rgb(135,135,135);
  border-style: solid;
  border-radius: 8px;
}

.focused {
  z-index: 1000;
}

.topbar {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: rgb(55,55,55);
}

.window-text {
  margin-left: 10px;
  text-align: center;
  line-height: 50%;
}

.topbar_buttons {
  margin-left: 10px;
  margin-top: 5px;
  float: right;
}

.topbar_buttons button {
  width: 30px;
  height: 30px;
}

.topbar_buttons img {
  width: 15px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin: 10px;
}

.icon img {
  width: 5vh;
}

.icon {
  margin-left: 10px;
  margin-right: 10px;
  width: 5vh;
}

.icon:hover, #time:hover {
  background-color: rgb(55,55,55);
}

.start-button {
  display: flex;
  height: 8vh;
  width: 220px;
  background-color: rgb(10,10,10);
  color:rgb(255,255,255);
  margin-top: auto;
  margin-bottom: auto;
  line-height: 50%;
  font-family: arial;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
}

.start-button img {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

.start-button p {
  font-family: inherit;
}

.start-button:hover {
  background-color: rgb(50,50,50);
}

.start-button:active {
  background-color: rgb(100,100,100);
}

#start-classic {
  position: fixed;
  bottom: 5vh;
  left: 0;
  width: 250px;
  height: 48vh;
  background-color: rgb(0,0,80);
  display: flex;
}

#classic-buttons {
  display: block;
  width: 220px;
  height: 9vh;
}

#classic-banner {
  height: 48vh;
  width: 30px;
  background-color: rgb(0,0,80);
  bottom: 5vh;
  transform: rotate(270deg);
}

#time {
  font-size: 20px;
  line-height: 150%;
}

#login {
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0,0,0);
  margin: auto;
  left: 0%;
  top: 0%;
  font-size: 30px;
  text-align: center;
}

#startup {
  position: fixed;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  left: 0%;
  top: 0%;
  margin: auto;
  font-size: 30px;
  text-align: center;
  background-color: rgb(0,0,0);
}

#welcome {
  width: 500px;
  height: 500px;
}

.right {
  float: right;
}

#console {
font-family: 'IBM Plex Mono', monospace;
  font-size: 20px;
  color: rgb(40,185,0);
  overflow-y: auto;
  height: 12em;
}
