@font-face{
  font-family: DOS;
  src: url("dosfont/ModernDOS8x16.ttf");
}
:root{
  --primary:#000;
  --secondary:#777;
  --secondary_light:#999;
    --secondary_dark:#555;
  --text:#fff;
  --close:#f00;
  --progbar:#00f;
}

body {
  background-color: var(--primary);
  font-family: arial;
  color: var(--text);
  overflow: hidden;
}

#wallpaper {
  position: fixed;
  left: 0%;
  top: 0%;
  margin: 0px;
  width: 100vw;
  /*height: 100vh;*/
}

button {
  font-family: arial;
  font-size: 20px;
  border-radius: 4px;
  border-width: 2px;
  border-color: var(--secondary_light);
  border-style: solid;
  background-color: var(--secondary);
  color: var(--text);
  height: 30px;
}

input {
  height: 30px;
  background-color: var(--secondary);
  border-style: solid;
  border-color: var(--secondary_light);
  font-family: arial;
  font-size: 20px;
  color: var(--text);
}

button:hover {
  background-color: var(--secondary_light);
}

button:active {
  background-color: var(--secondary_dark);
}

.window-button {
  color: var(--text);
  background-color: var(--secondary);
  border: none;
  font-weight: bold;
}

.window-button:hover {
  background-color: var(--secondary_light);
}

#workbar {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 5vh;
  bottom: 0px;
  left: 0px;
  background-color: var(--secondary);
  z-index: 9990;
}

.window {
  position: absolute;
  /*margin: auto;*/
  width: 50vw;
  height: 50vh;
  top: 0%;
  background-color: var(--primary);
  border-width: 4px;
  border-color: var(--secondary);
  border-style: solid;
  border-radius: 8px;
  z-index: 0;
}

.focused {
  z-index: 1000;
}

.topbar {
  display: flex;
  width: 100%;
  height: 40px;
}

.window-text {
  margin-left: 10px;
  line-height: 50%;
  flex-grow: 1;
}

.topbar_buttons {
  width: 130px;
  margin-left: 10px;
  margin-top: 5px;
  float: right;
}

.topbar_buttons button {
  width: 30px;
  height: 30px;
}

.topbar_buttons img {
  width: 15px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin: 10px;
}

.icon img {
  width: 5vh;
}

.icon {
  margin-left: 10px;
  margin-right: 10px;
  width: 5vh;
}

.icon:hover, #time:hover {
  background-color: var(--secondary_light);
}

.classic-start-button {
  display: flex;
  height: 40px;
  width: 200px;
  background-color: var(--secondary);
  color:var(--text);
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0%;
  font-family: arial;
  border: none;
}

.classic-start-button img {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  width: 25px;
}

.classic-start-button p {
  font-family: inherit;
  font-size: 15px;
}

.classic-start-button:hover {
  background-color: var(--secondary_light);
}

.classic-start-button:active {
  background-color: var(--secondary-dark);
}

#classic-user-name {
  height: 50px;
  width: 220px;
}

#start-classic {
  position: fixed;
  bottom: 5vh;
  left: 0;
  width: 200px;
  height: 240px;
  background-color: var(--primary);
  display: none;
}

#classic-buttons {
  display: block;
  width: 220px;
  height: 9vh;
}

#classic-banner {
  height: 48vh;
  width: 30px;
  background-color: var(--secondary);
  bottom: 5vh;
  transform: rotate(270deg);
}

#time {
  margin-left: auto;
  font-size: 3vh;
  line-height: 150%;
  padding-left: 10px;
  padding-right: 10px;
}

#login {
  padding: 10px;
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary);
  margin: auto;
  left: 0%;
  top: 0%;
  font-size: 30px;
  text-align: center;
}

.blacky {
  margin: auto;
  left: 0%;
  top: 0%;
  font-size: 30px;
  text-align: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary);
}

#startup {
  position: fixed;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  left: 0%;
  top: 0%;
  margin: auto;
  font-size: 30px;
  text-align: center;
  background-color: var(--primary);
}

#welcome {
  width: 500px;
  height: 500px;
}

.right {
  float: right;
}

#console {
  font-family: monospace;
  font-size: 20px;
  color: rgb(40,185,0);
  overflow-y: auto;
  height: 12em;
}

.close-button {
  width: 60px !important;
  background-color: var(--close);
}

.close-button:hover {
  background-color: var(--close);
}

.fullscreen {
  display: none;
  z-index: 9998;
  background-color: var(--secondary);
  margin: 0px;
  position: fixed;
  top : 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
}

.power-dialog {
  padding: 50px;
  position: fixed;
  width: 500px;
  height: 200px;
  background-color: var(--primary);
  top: 35%;
  left: 30%;
}

.dialog-title {
  text-align: center;
  background-color: var(--secondary);
  height: 30px;
  line-height: 200%;
}

.power-dialog button {
  width: 100px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

#terminal {
  /*display: none;*/
}

.open {
  width: 25px;
  height: 5px;
  background-color: var(--secondary);
}

#shutdownscreen {
  z-index: 9999;
  display: none;
}

.mpbutton {
  width: 74px;
  height: 74px;
  background-color: var(--primary);
  border-color: var(--secondary);
}

.mpbutton img {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

#media {
  width: 250px;
  height: 550px;
}

#music-time {
  width: 230px;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  border-radius: 5px;
  background-color: var(--progbar);
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

progress[value]::-webkit-progress-value {
  background-color: var(--progbar);
  border-radius: 5px;
}

#music-now {
  float: left;
  display: inline-block;
}

#music-duration {
  float: right;
  display: inline-block;
}

#notification {
  display: none;
}

.notification {
  background-color: var(--primary);
  z-index: 9989;
  min-width: 300px;
  max-width: 50vw;
  position: fixed;
  bottom: 6vh;
  right: 0.5vw;
  padding: 10px;
}

.notification button {
  position: relative;
  display: inline-block;
}

button[disabled] {
  color: var(--secondary_dark);
}

.options {
  /*display: none;*/
  position: relative;
}

#user-picture {
  width: 85px;
  height: 85px;
  border-radius: 8px;
  color: var(--text);
  background-color: var(--secondary);
  font-size: 60px;
}

ul {
  list-style-type: none;
}

#rsod {
  display: none;
  font-family: DOS;
  background-color: rgb(80,0,0);
  color: rgb(255,255,255);
  z-index: 10001;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0%;
  top: 0%;
}

#rsod h1 {
  font-weight: normal;
}
