:root {
  --main-color: rgb(0,30,80);
}

#startup {
  background-color: var(--main-color);
}

.window {
  background: rgb(0,20,80);
}

.topbar {
  background: rgba(125, 125, 125, 0.5);
}

.active {
  background: var(--main-color);
}